//PEN HEADER
header.header
  h1.header__title SVG icon animations with Anime.js
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/svg-animations-1" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
  
    //icons
    .icons
  
      //single icon
      .icon-block
      
        .icon-block__icon
        
        //replay btn
        .icon-block__replay
          btn.btn(type="button") Replay
          
    