//PEN HEADER
header.header
  h1.header__title SVG icon animations with Anime.js
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/svg-animations-1" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
  
    //single icon
    .icon
    
      
      
        

          
    